<template>
  <div class="q-pa-lg row">
    <div
      class="col"
    >
      <q-table
        v-if="isMounted"
        title="Industrija"
        :data="industrije"
        :columns="columns"
        row-key="UIDindustrija"
        flat
      >
        <template v-slot:top>
          <q-btn
            color="#555"
            label="Dodaj industriju"
            @click="onNewRow"
          />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name==='actions'">
              <q-btn
                dense
                color="#555"
                icon="edit"
                label="uredi"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="#555"
                icon="delete"
                label="obriši"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{props.row[props.col.field]}}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
              Industrije
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="IndustrijaID"
            type="number"
            :error="!industrija.IndustrijaID || industrija.IndustrijaID.length === 0"
            error-message="Polje je obavezno."
            label="Industrija ID"
            v-model="industrija.IndustrijaID"
          />
          <q-input
            ref="Naziv"
            type="text"
            label="Naziv industrije"
            v-model="industrija.Naziv"
          />
          <q-input
            ref="Opis"
            type="textarea"
            label="Opis industrije"
            v-model="industrija.Opis"
          />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            color="#555"
            label="U redu"
            @click="onOKClick"
          />
          <q-btn
            color="#555"
            label="Odustani"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'IndustrijaIndex',
  data () {
    return {
      openDialog: false,
      industrija: null,
      industrijaModel: {
        UIDindustrija: null,
        IndustrijaID: null,
        Naziv: null,
        Opis: null
      },
      isMounted: false,
      industrije: [],
      columns: [
        {
          name: 'IndustrijaID',
          label: 'IndustrijaID',
          align: 'center',
          field: 'IndustrijaID',
          sortable: true
        },
        {
          name: 'Naziv',
          label: 'Naziv industrije',
          align: 'center',
          field: 'Naziv',
          sortable: true
        },

        {
          name: 'Opis',
          label: 'Opis industrije',
          align: 'center',
          field: 'Opis',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Radnje',
          align: 'center',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('industrija')
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.industrije.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.industrija = JSON.parse(JSON.stringify(this.industrijaModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs.hasError &&
      !this.$refs.hasError) {
        const collectionRef = this.$db.collection('industrija')
        if (this.industrija.UIDindustrija === null) {
          collectionRef.add(this.industrija)
            .then((doc) => {
              this.industrija.UIDindustrija = doc.id
              const docRef = this.$db.collection('industrija').doc(doc.id)
              docRef.update({ UIDindustrija: doc.id })
                .then((response) => {
                  this.industrija.UIDindustrija = doc.id
                  this.industrije.push(this.industrija)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Pogreška pri dodavanju dokumenta: ', error)
                })
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        } else {
          const docRef = this.$db.collection('industrija').doc(this.industrija.UIDindustrija)
          docRef.set(this.industrija)
            .then((response) => {
              const industrija = this.industrije.find(industrija => industrija.UIDindustrija === this.industrija.UIDindustrija)
              if (industrija) {
                for (const attributeName in this.industrija) {
                  industrija[attributeName] = JSON.parse(JSON.stringify(this.industrija[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (industrija) {
      this.industrija = JSON.parse(JSON.stringify(this.industrijaModel))
      for (const attributeName in this.industrija) {
        this.industrija[attributeName] = JSON.parse(JSON.stringify(industrija[attributeName]))
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Obriši',
        message: 'Potvrdi brisanje.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('industrija').doc(row.UIDindustrija)
        docRef.delete()
          .then(() => {
            const index = this.industrije.findIndex(industrija => industrija.UIDindustrija === row.UIDindustrija)
            if (index >= 0) {
              this.industrije.splice(index, 1)
            }
          }).catch((error) => {
            console.error('Pogreška pri brisanju dokumenta: ', error)
          })
      })
    }
  }
}
</script>
