<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
      style="max-width: 900px"
    >
      <div class="q-pb-md" style="padding-bottom:5%;">
        <q-btn
          color="#555"
          label="Dodaj novog klijenta"
          @click="onNewradniNalog"
        />
      </div>
      <q-list bordered>
        <div
          v-for="(radniNalog, radniNalogIndex) in radniNalozi"
          :key="radniNalog.UIDRadniNalog"
        >
          <q-expansion-item
            group="radniNalozi"
            :label="radniNalog.Klijenti"
            :default-opened="radniNalogIndex === 0"
            header-class="bg-grey text-bold"
            dense
          >
            <q-card>
              <q-card-actions align="right">
                <q-btn
                  dense
                  color="#555"
                  icon="edit"
                  label="uredi"
                  @click="onUpdateradniNalog(radniNalog)"
                />
              </q-card-actions>
              <q-separator />
              <q-card-section>
                <div class="row">
                  <div class="col-6 q-pr-xs">
                    <q-input
                      readonly
                      dense
                      label="Klijent"
                      v-model="radniNalog.Klijenti"
                    />
                    <q-input
                      readonly
                      dense
                      label="OIB"
                      v-model="radniNalog.OIB"
                    />
                    <div class="row">
                      <div class="col">
                        <q-input
                          readonly
                          dense
                          label="Adresa"
                          v-model="radniNalog.Adresa"
                        />
                      </div>
                      <div class="col">
                        <q-input
                          readonly
                          dense
                          label="Telefon"
                          v-model="radniNalog.Telefon"
                        />
                      </div>
                    </div>
                    <q-input
                      readonly
                      dense
                      label="E-mail"
                      v-model="radniNalog.Email"
                    />

                  </div>
                  <div class="col-6 q-pl-xs">
                    <div class="text-center q-pa-xs">
                      <croppa
                        ref="croppa"
                        crossOrigin="anonymous"
                        :width="150"
                        :height="150"
                        :accept="'image/*'"
                        :prevent-white-space="true"
                        :placeholder-font-size="18"
                        :file-size-limit="1 * 1024 * 1024"
                        :quality="1"
                        :remove-button-color="'red'"
                        :remove-button-size="30"
                        placeholder="Postavi fotografiju"
                        :disable-drag-to-move="!uploadButton"
                        v-model="radniNalog.photo"
                        :initial-image="radniNalog.urlImage?radniNalog.urlImage:initialImage?initialImage:null"
                        @image-remove="removeImage(radniNalog)"
                        @file-type-mismatch="onError('Vrsta datoteke nije podržana')"
                        @file-size-exceed="onError('Veličina slike prevelika.')"
                        @file-choose="uploadButton=true"
                      >
                      </croppa>
                      <q-btn
                        flat
                        color="#555"
                        v-if="uploadButton"
                        class="full-width"
                        @click="uploadCroppedImage(radniNalog)"
                        label="Postavi fotografiju"
                        icon="image"
                      />
                      <q-btn
                        flat
                        color="#555"
                        v-if="!radniNalog.urlImage && $q.platform.is.mobile"
                        class="full-width"
                        @click="openCamera(radniNalog)"
                        icon="camera_alt"
                      />
                    </div>

                  </div>
                </div>
              </q-card-section>
              <q-card-section>
                <q-card
                  flat
                  bordered
                >
                  <q-card-section>
                    <div class="text-bold">
                      Radni nalozi
                    </div>
                  </q-card-section>
                  <q-separator />
                  <q-card-section>
                    <div class="q-pb-md">
                      <q-btn
                        color="#555"
                        label="Dodaj radni nalog"
                        @click="onNewradniNalogradninalog(radniNalog)"
                      />
                    </div>
                    <q-list bordered>
                      <div
                        v-for="(radniNalogradninalog, radniNalogradninalogIndex) in radniNalog.radniNalognalozi"
                        :key="radniNalogradninalog.UIDradniNalogradninalog"
                      >
                        <q-expansion-item
                          group="radniNalognalozi"
                          :label="radniNalogradninalog.radninalog ? radniNalogradninalog.Klijenti + ' [' + radniNalogradninalog.radninalog.type + ']': radniNalogradninalog.Klijenti"
                          :default-opened="radniNalogradninalogIndex === 0"
                          header-class="bg-blue-1 text-bold"
                          dense
                        >
                          <q-card>
                            <q-card-actions align="right">
                              <q-btn
                                dense
                                color="#555"
                                icon="edit"
                                label="uredi"
                                @click="onUpdateradniNalogradninalog(radniNalog, radniNalogradninalog)"
                              />
                            </q-card-actions>
                            <q-separator />
                            <q-card-section>
                              <div class="row">
                                <div class="col-6 q-pr-xs">
                                  <q-input
                                    v-if="radniNalogradninalog.radninalog"
                                    label="RadniNalogID"
                                    readonly
                                    dense
                                    v-model="radniNalogradninalog.RadniNalogID"
                                  />
                                  <q-input
                                    label="Operater"
                                    readonly
                                    dense
                                    v-model="radniNalogradninalog.Operater"
                                  />
                                  <q-input
                                    label="Fakturirati"
                                    type="radio"
                                    readonly
                                    dense
                                    v-model="radniNalogradninalog.Fakturirati"
                                  />
                                  <q-input
                                    label="Pokriveno ugovorom"
                                    readonly
                                    dense
                                    v-model="radniNalogradninalog.PokrivenoUgovorom"
                                  />
                                  <q-input
                                    label="Materijal"
                                    readonly
                                    dense
                                    v-model="radniNalogradninalog.Materijal"
                                  />
                                </div>
                                <div class="col-6 q-pl-xs">
                                  <div class="row">
                                    <div class="col">
                                      <q-input
                                        label="VrijemePrijave"
                                        type="time"
                                        readonly
                                        dense
                                        v-model="radniNalogradninalog.VrijemePrijave"
                                      />
                                    </div>
                                    <div class="col">
                                      <q-input
                                        label="Naručilac"
                                        type="text"
                                        readonly
                                        dense
                                        v-model="radniNalogradninalog.Narucilac"
                                      />
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <q-input
                                        label="Opis problema"
                                        type="textarea"
                                        readonly
                                        dense
                                        v-model="radniNalogradninalog.OpisProblema"
                                      />
                                    </div>
                                    <div class="col">
                                      <q-input
                                        label="Komentar"
                                        type="textarea"
                                        readonly
                                        dense
                                        v-model="radniNalogradninalog.Komentar"
                                      />
                                    </div>
                                  </div>
                                  <div class="row">
                                    <div class="col">
                                      <q-input
                                        label="Datum rješenja"
                                        type="date"
                                        readonly
                                        dense
                                        v-model="radniNalogradninalog.DatumRjesenja"
                                      />
                                    </div>
                                    <div class="col">
                                      <q-input
                                        label="Vrijeme rješenja"
                                        type="time"
                                        readonly
                                        dense
                                        v-model="radniNalogradninalog.VrijemeRjesenja"
                                      />
                                    </div>
                                  </div>
                                  <q-input
                                    label="Račun broj"
                                    readonly
                                    dense
                                    v-model="radniNalogradninalog.RacunBroj"
                                  />
                                </div>
                              </div>
                            </q-card-section>
                          </q-card>
                        </q-expansion-item>
                      </div>
                    </q-list>
                  </q-card-section>
                </q-card>
              </q-card-section>
            </q-card>
          </q-expansion-item>
          <q-separator />
        </div>
      </q-list>
    </div>
    <q-dialog
      v-if="openradniNalogDialog"
      v-model="openradniNalogDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Novi klijent
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="Klijenti"
            :error="!radniNalog.Klijenti || radniNalog.Klijenti.length === 0"
            error-message="Polje je obavezno."
            label="Naziv klijenta"
            v-model="radniNalog.Klijenti"
          />
          <q-input
            label="OIB"
            type="number" counter
            v-model="radniNalog.OIB"
          />
          <div class="row">
            <div class="col">
              <q-input
                ref="Adresa"
                label="Adresa"
                type="text"
                v-model.number="radniNalog.Adresa"
              />
            </div>
            <div class="col">
              <q-input
                ref="Telefon"
                label="Telefon"
                type="phone"
                v-model.number="radniNalog.Telefon"
              />
            </div>
          </div>
          <div
            class="row"
            v-if="$q.platform.is.mobile"
          >
            <div class="col">
              <q-btn
                dense
                class="full-width"
                color="#555"
                icon="location_searching"
                label="Search location"
                @click="getGeolocation(radniNalog)"
              />
            </div>
          </div>
          <q-input
            label="E-mail"
            v-model="radniNalog.Email"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="#555"
            label="U redu"
            @click="onOKradniNalogDialogClick"
          />
          <q-btn
            color="#555"
            label="Odustani"
            @click="onCancelradniNalogDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <q-dialog
      v-if="openradniNalogradninalogDialog"
      v-model="openradniNalogradninalogDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Radni nalog
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-select
            label="Radni nalog"
            dense
            v-model="radniNalogradninalog.radninalog"
            :options="nalozi"
            option-value="UIDnalozi"
            option-label="type"
          />
          <q-select
            label="Operater"
            type="text"
            v-model="radniNalogradninalog.Operater"
          />
          <q-select
            label="Industrija"
            type="text"
            v-model="radniNalogradninalog.Industrija"
          />
          <q-select
            label="Lokacija"
            type="text"
            v-model="radniNalogradninalog.Lokacija  "
          />
          <q-input
            label="Naručilac"
            type="text"
            v-model="radniNalogradninalog.Narucilac"
          />
          <q-input
            label="Vrijeme prijave"
            type="time"
            v-model="radniNalogradninalog.VrijemePrijave"
          />
          <q-input
            label="Opis probelma"
            type="textarea"
            v-model="radniNalogradninalog.OpisProblema"
          />
          <q-input
            label="Komentar"
            type="textarea"
            v-model="radniNalogradninalog.Komentar"
          />
          <q-input
            label="Utrošeno radnih sati"
            type="text"
            v-model="radniNalogradninalog.UtrosenoRadnihSati"
          />
          <q-input
            label="Fakturirati"
            type="radio"
            v-model="radniNalogradninalog.Fakturirati"
          />
          <q-input
            label="Pokriveno ugovorom"
            type="textarea"
            v-model="radniNalogradninalog.PokrivenoUgovorom"
          />
          <q-input
            label="Materijal"
            type="text"
            v-model="radniNalogradninalog.Materijal"
          />
          <q-input
            label="Račun broj"
            v-model="radniNalogradninalog.RacunBroj"
          />
          <div class="row">
            <div class="col">
              <q-input
                label="Vrijeme rješenja"
                type="time"
                v-model="radniNalogradninalog.VrijemeRjesenja"
              />
            </div>
            <div class="col">
              <q-input
                label="Datum rješenja"
                type="date"
                v-model="radniNalogradninalog.DatumRjesenja"
              />
            </div>
          </div>
          <q-input
            label="Radni nalog ID"
            v-model="radniNalogradninalog.IDradninalog"
          />
        </q-card-section>
        <q-card-actions align="right">
          <q-btn
            color="#555"
            label="U redu"
            @click="onOKradniNalogradninalogDialogClick"
          />
          <q-btn
            color="#555"
            label="Odustani"
            @click="onCancelradniNalogradninalogDialogClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
import { component as croppa } from 'vue-croppa'

export default {
  Operater: 'radniNaloziIndex',
  components: {
    croppa
  },
  data () {
    return {
      isMounted: false,
      openradniNalogDialog: false,
      openradniNalogradninalogDialog: false,
      radniNalozi: [],
      radniNalog: null,
      radniNalogModel: {
        UIDRadniNalog: null,
        Adresa: null,
        Telefon: null,
        OIB: null,
        Email: null,
        Klijenti: null,
        urlImage: null,
        IDradniNalog: null
      },
      currentradniNalog: null,
      radniNalogradninalog: null,
      radniNalogradninalogModel: {
        UIDRadniNalog: null,
        UIDradniNalogradninalog: null,
        radninalog: null,
        Klijenti: null,
        RadniNalogID: null,
        VrijemePrijave: null,
        Narucilac: null,
        OpisProblema: null,
        Komentar: null,
        VrijemeRjesenja: null,
        Datumrjesenja: null,
        UtrosenoRadnihSati: null,
        Fakturirati: null,
        PokrivenoUgovor: null,
        Materijal: null,
        RacunBroj: null,
        Operater: null,
        IDradninalog: null
      },
      uploadButton: false,
      initialImage: null,
      nalozi: []
    }
  },
  mounted: async function () {
    let collectionRef = this.$db.collection('radniNalog')
    await collectionRef.get()
      .then((radniNalozi) => {
        radniNalozi.forEach(async (radniNalog) => {
          const radniNalogFromDB = radniNalog.data()
          this.$set(radniNalogFromDB, 'radniNalognalozi', [])
          this.$set(radniNalogFromDB, 'photo', {})
          const subCollectionRef = collectionRef.doc(radniNalog.data().UIDRadniNalog).collection('radniNalogradninalog')
          await subCollectionRef.get()
            .then((radniNalognalozi) => {
              const radniNalognaloziFromDB = []
              radniNalognalozi.forEach((radniNalogradninalog) => {
                radniNalognaloziFromDB.push(radniNalogradninalog.data())
              })
              radniNalogFromDB.radniNalognalozi = radniNalognaloziFromDB
              this.radniNalozi.push(radniNalogFromDB)
              this.isMounted = true
            })
        })
      })
    collectionRef = this.$db.collection('radninalog')
    collectionRef.get()
      .then((nalozi) => {
        nalozi.forEach((radninalog) => {
          this.nalozi.push(radninalog.data())
        })
      })
  },
  methods: {
    onNewradniNalog () {
      this.radniNalog = JSON.parse(JSON.stringify(this.radniNalogModel))
      this.openradniNalogDialog = true
    },
    onNewradniNalogradninalog (radniNalog) {
      this.currentradniNalog = radniNalog
      this.radniNalogradninalog = JSON.parse(JSON.stringify(this.radniNalogradninalogModel))
      this.radniNalogradninalog.UIDRadniNalog = this.currentradniNalog.UIDRadniNalog
      this.openradniNalogradninalogDialog = true
    },
    onOKradniNalogDialogClick () {
      if (!this.$refs.hasError &&
        !this.$refs.hasError &&
        !this.$refs.hasError) {
        const collectionRef = this.$db.collection('radniNalog')
        if (this.radniNalog.UIDRadniNalog === null) {
          collectionRef.add(this.radniNalog)
            .then((doc) => {
              const docRef = this.$db.collection('radniNalog').doc(doc.id)
              docRef.update({ UIDRadniNalog: doc.id })
                .then((response) => {
                  this.radniNalog.UIDRadniNalog = doc.id
                  this.$set(this.radniNalog, 'radniNalognalozi', [])
                  this.radniNalozi.push(this.radniNalog)
                  this.openradniNalogDialog = false
                })
                .catch(function (error) {
                  console.error('Error adding document: ', error)
                })
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        } else {
          const docRef = this.$db.collection('radniNalog').doc(this.radniNalog.UIDRadniNalog)
          docRef.set(this.radniNalog)
            .then((response) => {
              const radniNalog = this.radniNalozi.find(radniNalog => radniNalog.UIDRadniNalog === this.radniNalog.UIDRadniNalog)
              if (radniNalog) {
                for (const attributeOperater in this.radniNalog) {
                  radniNalog[attributeOperater] = JSON.parse(JSON.stringify(this.radniNalog[attributeOperater]))
                }
              }
              this.openradniNalogDialog = false
            })
            .catch(function (error) {
              console.error('Error adding document: ', error)
            })
        }
      }
    },
    onOKradniNalogradninalogDialogClick () {
      const collectionRef = this.$db.collection('radniNalog').doc(this.currentradniNalog.UIDRadniNalog).collection('radniNalogradninalog')
      if (this.radniNalogradninalog.UIDradniNalogradninalog === null) {
        collectionRef.add(this.radniNalogradninalog)
          .then((doc) => {
            const docRef = collectionRef.doc(doc.id)
            docRef.update({ UIDradniNalogradninalog: doc.id })
              .then((response) => {
                this.radniNalogradninalog.UIDradniNalogradninalog = doc.id
                this.currentradniNalog.radniNalognalozi.push(this.radniNalogradninalog)
                this.openradniNalogradninalogDialog = false
              })
              .catch(function (error) {
                console.error('Error adding document: ', error)
              })
          })
          .catch(function (error) {
            console.error('Error adding document: ', error)
          })
      } else {
        const docRef = this.$db.collection('radniNalog').doc(this.currentradniNalog.UIDRadniNalog).collection('radniNalogradninalog').doc(this.radniNalogradninalog.UIDradniNalogradninalog)
        docRef.set(this.radniNalogradninalog)
          .then((response) => {
            const radniNalogradninalog = this.currentradniNalog.radniNalognalozi.find(radniNalogradninalog => radniNalogradninalog.UIDradniNalogradninalog === this.radniNalogradninalog.UIDradniNalogradninalog)
            if (radniNalogradninalog) {
              for (const attributeOperater in this.radniNalogradninalog) {
                radniNalogradninalog[attributeOperater] = JSON.parse(JSON.stringify(this.radniNalogradninalog[attributeOperater]))
              }
            }
            this.openradniNalogradninalogDialog = false
          })
          .catch(function (error) {
            console.error('Error adding document: ', error)
          })
      }
    },
    onCancelradniNalogDialogClick () {
      this.openradniNalogDialog = false
    },
    onCancelradniNalogradninalogDialogClick () {
      this.openradniNalogradninalogDialog = false
    },
    onUpdateradniNalog (radniNalog) {
      this.radniNalog = JSON.parse(JSON.stringify(this.radniNalogModel))
      for (const attributeOperater in this.radniNalog) {
        this.radniNalog[attributeOperater] = JSON.parse(JSON.stringify(radniNalog[attributeOperater]))
      }
      this.openradniNalogDialog = true
    },
    onUpdateradniNalogradninalog (radniNalog, radniNalogradninalog) {
      this.currentradniNalog = radniNalog
      this.radniNalogradninalog = JSON.parse(JSON.stringify(this.radniNalogradninalogModel))
      for (const attributeOperater in this.radniNalogradninalog) {
        this.radniNalogradninalog[attributeOperater] = JSON.parse(JSON.stringify(radniNalogradninalog[attributeOperater]))
      }
      this.openradniNalogradninalogDialog = true
    },
    onDeconsteradniNalog (row) {
      this.$q.dialog({
        title: 'Deconste',
        message: 'Confirm deconstion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('radniNalog').doc(row.UIDRadniNalog)
        row.radniNalognalozi.forEach((radniNalogradninalog) => {
          docRef.collection('radniNalogradninalog').doc(radniNalogradninalog.UIDradniNalogradninalog).deconste()
            .then(() => {
              console.log('Document in subcollection deconsted: ', radniNalogradninalog.UIDradniNalogradninalog)
            }).catch(error => {
              console.error('Error deconsting document in subcollection: ', error)
            })
        })
        docRef.deconste()
          .then(() => {
            const index = this.radniNalozi.findIndex(radniNalog => radniNalog.UIDRadniNalog === row.UIDRadniNalog)
            if (index >= 0) {
              this.radniNalozi.splice(index, 1)
            }
            if (row.urlImage) {
              const storageRef = this.$storage.ref()
              const imageRef = storageRef.child(row.UIDRadniNalog)
              imageRef.deconste().then(() => {
              }).catch((error) => {
                console.error('Error deconsting image: ', error)
              })
            }
          }).catch((error) => {
            console.error('Error removing document: ', error)
          })
      })
    },
    onDeconsteradniNalogradninalog (radniNalog, row) {
      this.$q.dialog({
        title: 'Deconste',
        message: 'Confirm deconstion.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('radniNalog').doc(radniNalog.UIDRadniNalog).collection('radniNalogradninalog').doc(row.UIDradniNalogradninalog)
        docRef.deconste()
          .then(() => {
            const index = radniNalog.radniNalognalozi.findIndex(radniNalogradninalog => radniNalogradninalog.UIDradniNalogradninalog === row.UIDradniNalogradninalog)
            if (index >= 0) {
              radniNalog.radniNalognalozi.splice(index, 1)
            }
          }).catch((error) => {
            console.error('Error removing document: ', error)
          })
      })
    },
    onError (errorMessage) {
      this.uploadButton = false
      this.$q.notify({
        message: errorMessage,
        icon: 'warning',
        color: 'negative',
        position: 'bottom',
        timeout: 3000
      })
    },
    uploadCroppedImage (radniNalog) {
      if (!radniNalog.photo.hasImage()) {
        alert('no image to upload')
        return
      }
      radniNalog.photo.generateBlob(
        blob => {
          console.log(blob)
          if (blob) {
            console.log('uploadCroppedImage')
            const storageRef = this.$storage.ref()
            const imageRef = storageRef.child(radniNalog.UIDRadniNalog)
            imageRef.put(blob)
              .then((snapshot) => {
                snapshot.ref.getDownloadURL()
                  .then((downloadURL) => {
                    const docRef = this.$db.collection('radniNalog').doc(radniNalog.UIDRadniNalog)
                    docRef.update({ urlImage: downloadURL })
                      .then((response) => {
                        radniNalog.urlImage = downloadURL
                        this.initialImage = null
                        this.uploadButton = false
                      })
                      .catch(function (error) {
                        console.error('Error adding document: ', error)
                      })
                  })
                  .catch(error => {
                    console.error('Get download URL: ', error)
                  })
              })
              .catch((error) => {
                console.error('Uploading file: ', error)
              })
          } else {
            this.onError('File type mismatch')
          }
        },
        'image/jpeg',
        0.8
      ) // 80% compressed jpeg file
    },
    removeImage (radniNalog) {
      this.uploadButton = false
      if (radniNalog.urlImage) {
        const storageRef = this.$storage.ref()
        const imageRef = storageRef.child(radniNalog.UIDRadniNalog)
        imageRef.deconste().then(() => {
          const docRef = this.$db.collection('radniNalog').doc(radniNalog.UIDRadniNalog)
          docRef.update({ urlImage: null })
            .then((response) => {
              radniNalog.urlImage = null
            })
            .catch((error) => {
              console.error('Error adding document: ', error)
            })
        }).catch((error) => {
          console.error('Error deconsting image: ', error)
        })
      }
    },
    getGeolocation (radniNalog) {
      const onSuccess = function (position) {
        radniNalog.Adresa = position.coords.latitude
        radniNalog.Narucilac = position.coords.longitude

        // alert('Latitude: ' + position.coords.latitude + '\n' +
        //   'Longitude: ' + position.coords.longitude + '\n' +
        //   'Altitude: ' + position.coords.altitude + '\n' +
        //   'Accuracy: ' + position.coords.accuracy + '\n' +
        //   'Altitude Accuracy: ' + position.coords.altitudeAccuracy + '\n' +
        //   'Heading: ' + position.coords.heading + '\n' +
        //   'Speed: ' + position.coords.speed + '\n' +
        //   'Timestamp: ' + position.timestamp + '\n')
      }

      // onError Callback receives a PositionError object
      //
      const onError = function (error) {
        alert('code: ' + error.code + '\n' +
          'message: ' + error.message + '\n')
      }
      navigator.geolocation.getCurrentPosition(onSuccess, onError, { timeout: 5000 })
    },
    openCamera (radniNalog) {
      if (typeof navigator.camera !== 'undefined') {
        const onSuccess = (imageData) => {
          const image = new Image()
          // Notice: it's necessary to set "crossorigin" attribute before "src" attribute.
          image.setAttribute('crossOrigin', 'anonymous')
          image.src = 'data:image/jpeg;base64,' + imageData
          this.initialImage = image
          radniNalog.photo.refresh()
          this.uploadButton = true
        }

        // onError Callback receives a PositionError object
        //
        const onError = (error) => {
          if (typeof error.code !== 'undefined') {
            alert('code: ' + error.code + '\n' +
              'message: ' + error.message + '\n')
          }
        }
        navigator.camera.getPicture(onSuccess, onError, { destinationType: navigator.camera.DestinationType.DATA_URL, encodingType: navigator.camera.EncodingType.JPEG })
      }
    }
  }
}
</script>
