<template>
  <div class="q-pa-lg row">
    <div
      class="col"
    >
      <q-table
        v-if="isMounted"
        title="Lokacija"
        :data="lokacije"
        :columns="columns"
        row-key="UIDlokacija"
        flat
      >
        <template v-slot:top>
          <q-btn
            color="#555"
            label="Dodaj lokaciju"
            @click="onNewRow"
          />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name==='actions'">
              <q-btn
                dense
                color="#555"
                icon="edit"
                label="uredi"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="#555"
                icon="delete"
                label="obriši"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{props.row[props.col.field]}}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
              Lokacije
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="LokacijaID"
            type="number"
            :error="!lokacija.LokacijaID || lokacija.LokacijaID.length === 0"
            error-message="Polje je obavezno."
            label="Lokacija ID"
            v-model="lokacija.LokacijaID"
          />
          <q-input
            ref="UlicaBroj"
            type="text"
            label="Ulica i broj"
            v-model="lokacija.UlicaBroj"
          />
          <q-input
            ref="Grad"
            type="text"
            label="Grad"
            v-model="lokacija.Grad"
          />
          <q-input
            ref="Zip"
            type="number"
            label="Zip kod"
            v-model="lokacija.Zip"
          />
          <q-input
            ref="Drzava"
            type="text"
            label="Država"
            v-model="lokacija.Drzava"
          />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            color="#555"
            label="U redu"
            @click="onOKClick"
          />
          <q-btn
            color="#555"
            label="Odustani"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
    <div class="mapa">
      <q-card-section v-if="center !== null">
        <GmapMap
          :center="center"
          :zoom="7"
          map-type-id="terrain"
          style="width: 100%; height: 700px"
        >
          <GmapInfoWindow
            ref="map"
            :options="infoOptions"
            :position="infoWindowPosition"
            :opened="infoWindowOpen"
            @closeclick="infoWindowOpen=false"
          >
            <span v-html="infoWindowContent"></span>
          </GmapInfoWindow>
          <GmapMarker
            :key="index"
            v-for="(marker, index) in markers"
            :position="marker.position"
            :clickable="true"
            @click="showInfoWindow(marker, index)"
          />
        </GmapMap>
      </q-card-section>
    </div>
  </div>
</template>
<script>
export default {
  name: 'lokacijaIndex',
  data () {
    return {
      openDialog: false,
      lokacija: null,
      lokacijaModel: {
        UIDlokacija: null,
        LokacijaID: null,
        Naziv: null,
        Opis: null
      },
      isMounted: false,
      lokacije: [],
      columns: [
        {
          name: 'LokacijaID',
          label: 'LokacijaID',
          align: 'center',
          field: 'LokacijaID',
          sortable: true
        },
        {
          name: 'UlicaBroj',
          label: 'Ulica i broj',
          align: 'center',
          field: 'UlicaBroj',
          sortable: true
        },
        {
          name: 'Grad',
          label: 'Grad',
          align: 'center',
          field: 'Grad',
          sortable: true
        },
        {
          name: 'Zip',
          label: 'Zip',
          align: 'center',
          field: 'Zip',
          sortable: true
        },
        {
          name: 'Drzava',
          label: 'Država',
          align: 'center',
          field: 'Drzava',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Radnje',
          align: 'center',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('lokacija')
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.lokacije.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.lokacija = JSON.parse(JSON.stringify(this.lokacijaModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs.hasError &&
      !this.$refs.hasError) {
        const collectionRef = this.$db.collection('lokacija')
        if (this.lokacija.UIDlokacija === null) {
          collectionRef.add(this.lokacija)
            .then((doc) => {
              this.lokacija.UIDlokacija = doc.id
              const docRef = this.$db.collection('lokacija').doc(doc.id)
              docRef.update({ UIDlokacija: doc.id })
                .then((response) => {
                  this.lokacija.UIDlokacija = doc.id
                  this.lokacije.push(this.lokacija)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Pogreška pri dodavanju dokumenta: ', error)
                })
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        } else {
          const docRef = this.$db.collection('lokacija').doc(this.lokacija.UIDlokacija)
          docRef.set(this.lokacija)
            .then((response) => {
              const lokacija = this.lokacije.find(lokacija => lokacija.UIDlokacija === this.lokacija.UIDlokacija)
              if (lokacija) {
                for (const attributeName in this.lokacija) {
                  lokacija[attributeName] = JSON.parse(JSON.stringify(this.lokacija[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (lokacija) {
      this.lokacija = JSON.parse(JSON.stringify(this.lokacijaModel))
      for (const attributeName in this.lokacija) {
        this.lokacija[attributeName] = JSON.parse(JSON.stringify(lokacija[attributeName]))
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Obriši',
        message: 'Potvrdi brisanje.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('lokacija').doc(row.UIDlokacija)
        docRef.delete()
          .then(() => {
            const index = this.lokacije.findIndex(lokacija => lokacija.UIDlokacija === row.UIDlokacija)
            if (index >= 0) {
              this.lokacije.splice(index, 1)
            }
          }).catch((error) => {
            console.error('Pogreška pri brisanju dokumenta: ', error)
          })
      })
    }
  }
}
</script>
