<template>
  <div class="q-pa-lg row justify-center">
    <div
      class="col"
    >
      <q-table
        v-if="isMounted"
        title="Operater"
        :data="operateri"
        :columns="columns"
        row-key="UIDoperater"
        flat
      >
        <template v-slot:top>
          <q-btn
            color="#555"
            label="Dodaj operatera"
            @click="onNewRow"
          />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name==='actions'">
              <q-btn
                dense
                color="#555"
                icon="edit"
                label="uredi"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="#555"
                icon="delete"
                label="obriši"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{props.row[props.col.field]}}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
              Operateri
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="OperaterID"
            type="number"
            :error="!operater.OperaterID || operater.OperaterID.length === 0"
            error-message="Polje je obavezno."
            label="Operater ID"
            v-model="operater.OperaterID"
          />
          <q-input
            ref="Ime"
            type="text"
            label="Ime operatera"
            v-model="operater.Ime"
          />
          <q-input
            ref="Prezime"
            type="text"
            label="Prezime operatera"
            v-model="operater.Prezime"
          />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            color="#555"
            label="U redu"
            @click="onOKClick"
          />
          <q-btn
            color="#555"
            label="Odustani"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'OperaterIndex',
  data () {
    return {
      openDialog: false,
      operater: null,
      operaterModel: {
        UIDoperater: null,
        OperaterID: null,
        Ime: null,
        Prezime: null
      },
      isMounted: false,
      operateri: [],
      columns: [
        {
          name: 'OperaterID',
          label: 'OperaterID',
          align: 'center',
          field: 'OperaterID',
          sortable: true
        },
        {
          name: 'Ime',
          label: 'Ime operateri',
          align: 'center',
          field: 'Ime',
          sortable: true
        },

        {
          name: 'Prezime',
          label: 'Prezime operateri',
          align: 'center',
          field: 'Prezime',
          sortable: true
        },
        {
          name: 'actions',
          label: 'Radnje',
          align: 'center',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('operater')
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.operateri.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.operater = JSON.parse(JSON.stringify(this.operaterModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs.hasError &&
      !this.$refs.hasError) {
        const collectionRef = this.$db.collection('operater')
        if (this.operater.UIDoperater === null) {
          collectionRef.add(this.operater)
            .then((doc) => {
              this.operater.UIDoperater = doc.id
              const docRef = this.$db.collection('operater').doc(doc.id)
              docRef.update({ UIDoperater: doc.id })
                .then((response) => {
                  this.operater.UIDoperater = doc.id
                  this.operateri.push(this.operater)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Pogreška pri dodavanju dokumenta: ', error)
                })
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        } else {
          const docRef = this.$db.collection('operater').doc(this.operater.UIDoperater)
          docRef.set(this.operater)
            .then((response) => {
              const operater = this.operateri.find(operater => operater.UIDoperater === this.operater.UIDoperater)
              if (operater) {
                for (const attributeName in this.operater) {
                  operater[attributeName] = JSON.parse(JSON.stringify(this.operater[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (operater) {
      this.operater = JSON.parse(JSON.stringify(this.operaterModel))
      for (const attributeName in this.operater) {
        this.operater[attributeName] = JSON.parse(JSON.stringify(operater[attributeName]))
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Obriši',
        message: 'Potvrdi brisanje.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('operater').doc(row.UIDoperater)
        docRef.delete()
          .then(() => {
            const index = this.operateri.findIndex(operater => operater.UIDoperater === row.UIDoperater)
            if (index >= 0) {
              this.operateri.splice(index, 1)
            }
          }).catch((error) => {
            console.error('Pogreška pri brisanju dokumenta: ', error)
          })
      })
    }
  }
}
</script>
