<template>
  <div class="q-pa-lg row">
    <div
      class="col"
    >
      <q-table
        v-if="isMounted"
        title="Nalozi"
        :data="nalozi"
        :columns="columns"
        row-key="UIDnalozi"
        flat
      >
        <template v-slot:top>
          <q-btn
            color="#555"
            label="Dodaj radni nalog"
            @click="onNewRow"
          />
        </template>
        <template v-slot:body-cell="props">
          <q-td :props="props">
            <div v-if="props.col.name==='actions'">
              <q-btn
                dense
                color="#555"
                icon="edit"
                label="uredi"
                @click="onUpdateRow(props.row)"
              />
              <q-btn
                dense
                color="#555"
                icon="delete"
                label="obriši"
                @click="onDeleteRow(props.row)"
              />
            </div>
            <div v-else>
              {{props.row[props.col.field]}}
            </div>
          </q-td>
        </template>
      </q-table>
    </div>
    <q-dialog
      v-if="openDialog"
      v-model="openDialog"
    >
      <q-card class="q-dialog-plugin">
        <q-card-section>
          <div class="text-h6">
            Radni nalozi
          </div>
        </q-card-section>
        <q-separator />
        <q-card-section>
          <q-input
            ref="RadniNalogID"
            type="number"
            :error="!radninalog.RadniNalogID || radninalog.RadniNalogID.length === 0"
            error-message="Polje je obavezno."
            label="Radni nalog ID"
            v-model="radninalog.RadniNalogID"
          />
          <q-input
            ref="Operater"
            type="text" multiple options
            label="Operater"
            v-model="radninalog.Operater"
          />
          <q-input
            ref="VrijemePrijave"
            type="time"
            label="Vrijeme prijave"
            v-model="radninalog.VrijemePrijave"
          />
          <q-input
            ref="Narucilac"
            label="Narucilac"
            v-model="radninalog.Narucilac"
          />
          <q-input
            ref="Adresa"
            label="Adresa"
            v-model="radninalog.Adresa"
          />
          <q-input
            ref="Grad"
            label="Grad"
            v-model="radninalog.Grad"
          />
          <q-input
            ref="Email"
            label="Email"
            v-model="radninalog.Email"
          />
          <q-input
            ref="OIB"
            type="number" counter
            label="OIB"
            v-model="radninalog.OIB"
          />
          <q-input
            ref="Telefon"
            label="Telefon"
            v-model="radninalog.Telefon"
          />
          <q-input
            ref="Klijent"
            label="Klijent"
            v-model="radninalog.Klijent"
          />
          <q-input
            ref="OpisProblema"
            type="textarea"
            label="Opis Problema"
            v-model="radninalog.OpisProblema"
          />
          <q-input
            ref="Komentar"
            type="textarea"
            label="Komentar"
            v-model="radninalog.Komentar"
          />
          <q-input
            type="date"
            ref="Datumrjesenja"
            label="Datum"
            v-model="radninalog.Datumrjesenja"
          />
          <q-input
            type="time"
            ref="VrijemeRjesenja"
            label="Vrijeme rješenja"
            v-model="radninalog.VrijemeRjesenja"
          />
          <q-input
            ref="UtrosenoRadnihSati"
            type="number"
            label="Utroseno Radnih Sati"
            v-model="radninalog.UtrosenoRadnihSati"
          />
          <q-input
            ref="Fakturirati"
            type="radio"
            label="Fakturirati"
            v-model="radninalog.Fakturirati"
          />
          <q-input
            ref="PokrivenoUgovorom"
            type="ckeckbox" true-value="da" false-value="ne"
            label="Pokriveno Ugovorom"
            v-model="radninalog.PokrivenoUgovorom"
          />
          <q-input
            ref="Materijal"
            label="Materijal"
            v-model="radninalog.Materijal"
          />
          <q-input
            ref="RacunBroj"
            label="RacunBroj"
            v-model="radninalog.RacunBroj"
          />
          <q-input
            ref="Status"
            label="Status"
            v-model="radninalog.Status"
          />
        </q-card-section>
        <q-card-actions align="center">
          <q-btn
            color="#555"
            label="U redu"
            @click="onOKClick"
          />
          <q-btn
            color="#555"
            label="Odustani"
            @click="onCancelClick"
          />
        </q-card-actions>
      </q-card>
    </q-dialog>
  </div>
</template>
<script>
export default {
  name: 'RadniNalogIndex',
  data () {
    return {
      openDialog: false,
      radninalog: null,
      radninalogModel: {
        UIDnalozi: null,
        RadniNalogID: null,
        Operater: null,
        VrijemePrijave: null,
        Narucilac: null,
        Adresa: null,
        Grad: null,
        Email: null,
        OIB: null,
        Telefon: null,
        Klijent: null,
        OpisProblema: null,
        Komentar: null,
        Datumrjesenja: null,
        VrijemeRjesenja: null,
        UtrosenoRadnihSati: null,
        Fakturirati: null,
        PokrivenoUgovor: null,
        Materijal: null,
        RacunBroj: null,
        Status: null
      },
      isMounted: false,
      nalozi: [],
      columns: [
        {
          name: 'RadniNalogID',
          label: 'RadniNalogID',
          align: 'center',
          field: 'RadniNalogID',
          sortable: true
        },
        {
          name: 'Operater',
          label: 'Operater',
          align: 'center',
          field: 'Operater',
          sortable: true
        },

        {
          name: 'VrijemePrijave',
          label: 'VrijemePrijave',
          align: 'center',
          field: 'VrijemePrijave',
          sortable: true
        },

        {
          name: 'Narucilac',
          label: 'Narucilac',
          align: 'center',
          field: 'Narucilac',
          sortable: true
        },

        {
          name: 'Adresa',
          label: 'Adresa',
          align: 'center',
          field: 'Adresa',
          sortable: true
        },

        {
          name: 'Grad',
          label: 'Grad',
          align: 'center',
          field: 'Grad',
          sortable: true
        },

        {
          name: 'Email',
          label: 'Email',
          align: 'center',
          field: 'Email',
          sortable: true
        },

        {
          name: 'OIB',
          label: 'OIB',
          align: 'center',
          field: 'OIB',
          sortable: true
        },
        {
          name: 'Telefon',
          label: 'Telefon',
          align: 'center',
          field: 'Telefon',
          sortable: true
        },

        {
          name: 'Klijent',
          label: 'Klijent',
          align: 'center',
          field: 'Klijent',
          sortable: true
        },

        {
          name: 'OpisProblema',
          label: 'OpisProblema',
          align: 'center',
          field: 'OpisProblema',
          sortable: true
        },

        {
          name: 'Komentar',
          label: 'Komentar',
          align: 'center',
          field: 'Komentar',
          sortable: true
        },

        {
          name: 'Datumrjesenja',
          label: 'DatumRjesenja',
          align: 'center',
          field: 'Datumrjesenja',
          sortable: true
        },

        {
          name: 'VrijemeRjesenja',
          label: 'VrijemeRjesenja',
          align: 'center',
          field: 'VrijemeRjesenja',
          sortable: true
        },
        {
          name: 'UtrosenoRadnihSati',
          label: 'UtrosenoRadnihSati',
          align: 'center',
          field: 'UtrosenoRadnihSati',
          sortable: true
        },

        {
          name: 'Fakturirati',
          label: 'Fakturirati',
          align: 'center',
          field: 'Fakturirati',
          sortable: true
        },

        {
          name: 'PokrivenoUgovorom',
          label: 'PokrivenoUgovorom',
          align: 'center',
          field: 'PokrivenoUgovorom',
          sortable: true
        },

        {
          name: 'Materijal',
          label: 'Materijal',
          align: 'center',
          field: 'Materijal',
          sortable: true
        },

        {
          name: 'RacunBroj',
          label: 'RacunBroj',
          align: 'center',
          field: 'RacunBroj',
          sortable: true
        },

        {
          name: 'Status', // POGLEDAJ ZASTO SE NE MOZE UREDIVATI
          label: 'Status',
          align: 'center',
          field: 'Status',
          sortable: true
        },

        {
          name: 'actions',
          label: 'Radnje',
          align: 'right',
          field: null,
          sortable: false
        }
      ]
    }
  },
  mounted: function () {
    const collectionRef = this.$db.collection('radninalog')
    collectionRef.get()
      .then((rows) => {
        rows.forEach((row) => {
          this.nalozi.push(row.data())
        })
        this.isMounted = true
      })
  },
  methods: {
    onNewRow () {
      this.radninalog = JSON.parse(JSON.stringify(this.radninalogModel))
      this.openDialog = true
    },
    onOKClick () {
      if (!this.$refs.RadniNalogID.hasError &&
      !this.$refs.hasError) {
        const collectionRef = this.$db.collection('radninalog')
        if (this.radninalog.UIDnalozi === null) {
          collectionRef.add(this.radninalog)
            .then((doc) => {
              this.radninalog.UIDnalozi = doc.id
              const docRef = this.$db.collection('radninalog').doc(doc.id)
              docRef.update({ UIDnalozi: doc.id })
                .then((response) => {
                  this.radninalog.UIDnalozi = doc.id
                  this.nalozi.push(this.radninalog)
                  this.openDialog = false
                })
                .catch(function (error) {
                  console.error('Pogreška pri dodavanju dokumenta: ', error)
                })
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        } else {
          const docRef = this.$db.collection('radninalog').doc(this.radninalog.UIDnalozi)
          docRef.set(this.radninalog)
            .then((response) => {
              const radninalog = this.nalozi.find(radninalog => radninalog.UIDnalozi === this.radninalog.UIDnalozi)
              if (radninalog) {
                for (const attributeName in this.radninalog) {
                  radninalog[attributeName] = JSON.parse(JSON.stringify(this.radninalog[attributeName]))
                }
              }
              this.openDialog = false
            })
            .catch(function (error) {
              console.error('Pogreška pri dodavanju dokumenta: ', error)
            })
        }
      }
    },
    onCancelClick () {
      this.openDialog = false
    },
    onUpdateRow (radninalog) {
      this.radninalog = JSON.parse(JSON.stringify(this.radninalogModel))
      for (const attributeName in this.radninalog) {
        this.radninalog[attributeName] = JSON.parse(JSON.stringify(radninalog[attributeName]))
      }
      this.openDialog = true
    },
    onDeleteRow (row) {
      this.$q.dialog({
        title: 'Obriši',
        message: 'Potvrdi brisanje.',
        ok: true,
        cancel: true
      }).onOk(() => {
        const docRef = this.$db.collection('radninalog').doc(row.UIDnalozi)
        docRef.delete()
          .then(() => {
            const index = this.nalozi.findIndex(radninalog => radninalog.UIDnalozi === row.UIDnalozi)
            if (index >= 0) {
              this.nalozi.splice(index, 1)
            }
          }).catch((error) => {
            console.error('Pogreška pri brisanju dokumenta: ', error)
          })
      })
    }
  }
}
</script>
