<template>
  <div class="row justify-center">
  <div class="col">
  <q-form @submit="onLogin">
  <q-card>
  <q-card-section align="center">
    <div class="text-h6 border">
      Prijava
    </div>
  </q-card-section>
  <q-card-section>
    <div class="q-gutter-md">
    <q-input
      filled
      type="email"
      v-model="email"
      label="Email *"
      hint="Email za prijavu"
      lazy-rules
      :rules="[ val => emailPattern.test(val) || 'Molimo napišite email']"/>
    <q-input
      filled
      type="password"
      v-model="password"
      label="Lozinka *"
      hint="Lozinka za prijavu"
      lazy-rules
      :rules="[ val => val && val.length > 0 || 'Molimo napišite lozinku']"/>
  </div>
 </q-card-section>
 <q-card-actions align="center">
  <q-btn
    label="Prijava"
    type="submit"
    color="rgb(202, 249, 123)"/>
 </q-card-actions>
 </q-card>
 </q-form>
 </div>
 </div>
</template>
<script>
export default {
  name: 'LoginIndex',
  data () {
    return {
      emailPattern: /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/,
      email: null,
      password: null
    }
  },
  mounted: function () {
    if (this.$auth.currentUser) {
      this.$router.push('/Izbornik')
    }
  },
  methods: {
    onLogin () {
      this.$auth.signInWithEmailAndPassword(this.email, this.password)
        .then(response => {
          this.$router.push('/Izbornik')
        })
        .catch(error => {
          console.log(error)
          this.$q.notify({
            type: 'negative',
            message: 'Prijava neuspješna.'
          })
        })
    }
  }
}
</script>

<style scoped>
  .q-btn {
    background-color: #555;
  }
  .col {
    height: 45%px;
    max-width: 71.6%;
    size: 1000px;
    align-content: center;
    justify-content: center;
    padding-left: 0%;
  }
  .slika {
    padding-left: 20%;
  }
  </style>
