<template>
 <q-layout>
 <q-header>
 <q-toolbar>
 <q-toolbar-title>
     Dobrodošli u aplikaciju za stvaranje i upravljanje radnim nalozima
 </q-toolbar-title>
 <q-btn
  flat
  dense
  @click="OpenPocetnaPage"
  icon="home"
  />
 <q-space />
 </q-toolbar>
 </q-header>
 <q-page-container>
   <div class="slika"
   />
 <router-view />
 </q-page-container>
 </q-layout>
</template>
<script>
export default {
  name: 'LoginLayout',
  methods: {
    OpenPocetnaPage () {
      this.$router.push('/')
    }
  }
}
</script>
<style>
  .q-header {
    background-color: #555;
  }
  .slika {
    width: 1030px;
    height: 400px;
    margin-left: 25%;
    background-image: url("https://akdamar.hr/wp-content/uploads/2017/12/akdamar2-logo.jpg");
    image-resolution:100%;;
  }
</style>
