<template>
    <div class="pocetna">
      <q-btn
        flat
        dense
        @click="openLoginPage"
        label="Prijava za administratore"
        rounded="xl"
        x-large
        size=25px
        style="background-color:#555;color:#888;"
      />
    </div>
</template>

<script>
export default {
  name: 'PocetnaLayout',
  methods: {
    openLoginPage () {
      this.$router.push('/Login')
    }
  }
}
</script>

<style scoped>
  .pocetna {
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('https://st2.depositphotos.com/4393299/7373/v/950/depositphotos_73732407-stock-illustration-doodle-book-seamless-pattern-background.jpg');
  }
</style>
