<template>
 <q-layout>
 <q-header elevated>
 <q-toolbar>
 <q-btn
 flat
 dense
 round
 @click="leftDrawerOpen = !leftDrawerOpen"
 icon="menu"
 aria-label="Menu"
 />
 <q-toolbar-title>
 </q-toolbar-title>
 </q-toolbar>
 </q-header>
 <q-drawer
 v-model="leftDrawerOpen"
 show-if-above
 bordered
 >
 <q-list>
 <q-item-label header></q-item-label>
 <q-item
 clickable
 to="/Izbornik"
 >
 <q-item-section avatar>
 <q-icon name="circle" />
 </q-item-section>
 <q-item-section>
 <q-item-label>Izbornik</q-item-label>
 </q-item-section>
 </q-item>
 <q-item
 clickable
 @click="home"
 >
 <q-item-section avatar>
 <q-icon name="home" />
 </q-item-section>
 <q-item-section>
 <q-item-label>Početna stranica</q-item-label>
 </q-item-section>
 </q-item>
 <q-separator />
 <q-item
 clickable
 @click="logout"
 >
 <q-item-section avatar>
 <q-icon name="power_settings_new" />
 </q-item-section>
 <q-item-section>
 <q-item-label>Odjava</q-item-label>
 </q-item-section>
 </q-item>
 </q-list>
 </q-drawer>
 <q-page-container>
 <router-view />
 </q-page-container>
 </q-layout>
</template>
<script>
export default {
  name: 'SystemLayout',
  data () {
    return {
      leftDrawerOpen: false
    }
  },
  methods: {
    logout () {
      this.$auth.signOut()
        .then(() => {
          this.$router.push('/Login')
        })
    },
    home () {
      this.$router.push('/')
    }
  }
}
</script>
<style>
  .q-btn {
    background-color: #444;
  }
  .q-toolbar {
    background-color: #444;
  }
</style>
